*{
    font-family: 'Montserrat';
    margin: 0%;
    padding:0;
}


.content{
    color: #FFFFFF;
    /* width: 1440px; */
    height: 600px;
    background-image: linear-gradient(89.85deg, #000000 0.13%, #000000 0.14%, rgba(0, 0, 0, 0) 99.56%), url("images/top.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.info{
/* width: 1440px; */
height: 435px;
background: #252B42;
display: flex;
}
.industry1{
/* width: 1440px; */
height: 772px;
background: #8EC2F2;
}
.industry1-image1{
    width: 331px;
    height: 452px;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%), url("images/trees.jpg");
}
.industry1-image2{
    width: 331px;
    height: 452px;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%),  url("images/night.jpg");
}
.industry1-image3{
    width: 331px;
    height: 452px;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%), url("images/money.jpg");
}
.industry1-image4{
    width: 331px;
    height: 452px;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%), url("images/reports.jpg");
}
.industry2{
    /* width: 1440px; */
    height: 879px;
    background: #252B42;
    color: #FFFFFF;
    text-align: center;
}
.pricing{
    /* width: 1440px; */
height: 1155px;
background: #252B42;
text-align: center;
}
.appointment{
    /* width: 1440px; */
    height: 670px;
    background-image: linear-gradient(89.83deg, #FFFFFF 14.24%, #FFFFFF 14.25%, rgba(255, 255, 255, 0) 99.55%), url("images/appointment.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
}
.consultancy{
    background: #FAFAFA;
    height: 142px;
    padding: 50px 75px;
}
.additionals{
    /* width: 1440px; */
    height: 272px;
    background: #252B42;
    display: flex;
    color: #FFFFFF;
    text-align: justify;
    align-items: center;
    
}
.footer{
    background: #FAFAFA;
    height: 74px;
    /* width: 1440px; */
}
.brand-name{
font-style: normal;
font-weight: 700;
font-size: 24px;
}
.navbar ul li{
    list-style-type: none;
    display:inline-block;
    padding: 5px;
    margin-left: 50px;
}
.login{
    background: transparent;
    border: 0;
    color: #FFFFFF;
    font-weight: 700;
font-size: 14px;
line-height: 22px;
letter-spacing: 0.2px;
}
.signup{
background: #23A6F0;
border-radius: 5px;
align-items: center;
padding: 15px 25px;
border:0;
color: #FFFFFF;
}  
.top-content .boldtext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    
    
}
.top-content{
    padding: 10%;
}
.learnmore{
padding: 15px 36px;
gap: 10px;
width: 154px;
height: 52px;
border: 1px solid #FFFFFF;
color:#FFFFFF;
background-color: transparent;
border-radius: 37px;
}
.quote{
    background: #23A6F0;
border-radius: 37px;
border:0;
padding: 15px 36px;
width: 185px;
color:#FFFFFF;
height: 52px;

}
.section{
    padding: 100px;
    text-align: center;
    flex-grow: 1;
    color: #FFFFFF;
}
.industry1{
    text-align: center;
    color: #FFFFFF;
}
.industry-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    padding: 30px 40px;
}
.tweets{
    background: #FFFFFF;
    color: #737373;
    width: 450px;
    height: 288.01px;
    display: inline-block;
    padding: 30px 40px;
    margin: 50px;
    position: relative;    
}
.tweets > img{
    position: absolute;
    top: 10px;
    left: -30px;
}
.industry-images{
    display: flex;
    padding: 50px;
    position: relative;
    
}
.industry-images > div{
    align-self: center;
    margin:10px;
} 
.industry-images .image-caption{
    position: absolute;
    width: 237px;
    height: 60px;
    padding:10px;
    text-align: justify;
    top:330px;
}
.offers > div{
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    background: #FFFFFF;
    margin: 50px;
    width: 327px;
    height: 627px;
}
.pricingdesc {
    color:#FFFFFF;
}
.pricing-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color:#FFFFFF;
}
.offers{
    display: flex;
}
.viewproj{
    background: #23A6F0;
    border-radius: 37px;
    border:0;
    padding: 15px 36px;
    color:#FFFFFF;
    width: 165px;
    height: 42px;
}
.amount{
    width: 54px;
height: 57px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #23A6F0;
}
.duration{
    width: 86px;
height: 24px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #8EC2F2;
}
.freetrial{
    padding: 15px 40px;
    gap: 10px;
    border: none;
    width: 246px;
    height: 52px;
    background: #23A6F0;
    border-radius: 5px;
}
.offers ul{
    text-align: justify;
}
.offers ul li{
    list-style-image: url("images/greentick.png");
}
.offers ul .grey{
    list-style-image: url("images/greytick.png");
}
.additionals ul li{
    list-style-type: none;
    padding:5px;
}
.additionals ul{
    margin:auto;
}
.silver{
    position: relative;
}
.silver,.gold,.free{
    padding: 50px 40px;
}
.silver img{
    position: absolute;
    right:20px;
    top: -20px;
}
.offer-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
}
.bookappointment{
    padding: 15px 40px;
    width: 218px;
    height: 52px;
    background: #23A6F0;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}
.appointment form{
    padding: 100px 0px;
    margin-left: 80px;
    width: 602px;
    height: 571px;
}
.appointment textarea{
    width: 574px;
    height:100px;
}
.appointment input{
    width: 286px;
    height:50px;
}
.appointment select{
    width: 286px;
    height:50px;
}
.appointment form input,.appointment form select, .appointment form textarea {
    margin-bottom: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
.contact-us{
    width: 160px;
    height: 52px;
    padding: 15px 40px;
    background: #23A6F0;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: none;
    margin-left:50%;
}
.consultancy-title{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.footer-content{
    margin:auto;
    padding: 20px 75px;
}
.footer-content .socialmedia-icons{
    margin-left:50%;
}
.top-content p{
    margin-bottom: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.section .section-title{
    margin: 20px;
}
.industry1 p {
    padding: 20px;
}
.account-name{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.role{
    font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
}

/* Responsiveness on small devices */
@media screen and (max-width: 768px){
    .top-content{
        height: auto;
    }
    .body{
        width: 414px;
        height: 1198px;
    }
    .navbar{
        background: #252B42;
        height: auto;
    }
    .navbar ul li{
        display: block;
    }
    .navbar ul li ul li{
        display: none;
    }
    .content{
        height: auto;
    }
    .info {
        display: flex;
        flex-wrap: wrap;
        height:auto;
    }
    .info .section{
        flex-direction: column;
    }
    .pricing {
        display: flex;
        flex-wrap: wrap;
        height:auto;
    }
    .pricing .offers{
        flex-direction: column;
    }
    .industry1{
        height: auto;
    }
   .tweets{
       width: 300px;
    }
    .industry2{
        height: auto;
    }
    .industry-images{
        flex-direction: column;
    }
    .appointment form{
        padding: 100px 0px;
        margin-left: 80px;
        width: 400px;
        height: 300px;
    }
    .appointment input{
        width: 286px;
        height:50px;
    }
    .appointment select{
        width: 286px;
        height:50px;
    }
    .appointment textarea{
        width: 374px;
        height:100px;
    }
    .additionals{
        padding: 10%;
        display: block;
        height: auto; 
    }
    .additionals ul{
       text-align: center;
    }
    .additionals ul li{
     justify-content:left;
    }
    .industry-images .image-caption{
        position: relative;
    }
    .footer{
        background: #252B42;
        height: auto;
        color: #FFFFFF;
        /* width: 1440px; */
    } 
    
}